@import "common"

.modal-login {
  .modal-header {
    background-color: $brand-background;
    background-image url(../images/logo.png); // must be relative
    background-position: 1rem 3.2rem;
    background-size: calc(100% - 2rem);
    background-repeat: no-repeat;
    height: 10rem;

    .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    h5 {
      text-align: center;
      padding-top: 7rem;
      width: 100%;
    }
  }
  label {
    font-weight: bold;
  }
}

.no-disabled-cursor.disabled {
  cursor: inherit;
}